<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs') %>
        <script src="/scripts/productList.js" type="module"></script>
        <link rel="stylesheet" href="/css/productList.css">
        <title>Cartera - Lista</title>
</head>

<body>
    <%- include('./partials/wpp.ejs') %>
        <%- include('./partials/blackScreen.ejs') %>
            <%- include('./partials/login.ejs') %>
                <%- include('./partials/header.ejs') %>
                    <%- include('./partials/registrationForm.ejs') %>


                        <div class="filters-container">
                            <div class="filter-title-close-btn-container">
                                <h3>FILTRAR POR</h3>
                                <i class='bx bx-x close-filter-menu'></i>
                            </div>
                            <div class="filters-list">
                                <ul type="none">
                                    <li class="filter filter-with-dropdown" data-label='size'>
                                        <div class="filter-item-arrow-container">
                                            <p>TALLA</p>
                                            <i class="fa-solid fa-caret-down"></i>
                                        </div>

                                        <ul type="none" class="filter-dropdown-container" data-label='size'>
                                            <li class="filter-dropdown-item">36</li>
                                            <li class="filter-dropdown-item">38</li>
                                            <li class="filter-dropdown-item">40</li>
                                        </ul>
                                    </li>
                                    <li class="filter filter-with-dropdown" data-label='color'>
                                        <div class="filter-item-arrow-container">
                                            <p>COLOR</p>
                                            <i class="fa-solid fa-caret-down"></i>
                                        </div>
                                        <ul type="none" class="filter-dropdown-container" data-label='color'>
                                            <li class="filter-dropdown-item">Azul</li>
                                            <li class="filter-dropdown-item">Blue</li>
                                            <li class="filter-dropdown-item">Red</li>
                                        </ul>
                                    </li>
                                    <li class="filter most-sold">MÁS VENDIDO</li>
                                    <li class="filter high-to-low">PRECIO: MAYOR A MENOR</li>
                                    <li class="filter low-to-high">PRECIO: MENOR A MAYOR</li>
                                </ul>
                            </div>
                        </div>

                        <div class="add-to-cart-container">
                            <div class="quick-add-cart-title">
                                <i class='bx bx-x close-cart-menu'></i>
                                <h2>IN THE BAG</h2>
                                <i class='bx bx-shopping-bag'>1</i>
                            </div>
                            <div class="product-selected-container">
                                <div class="product-selected-first-row">
                                    <div class="product-selected-img-container">
                                        <img src="/img/products/handbags/cartera1.avif" alt="product-image"
                                            class="product-selected-img">
                                    </div>
                                    <div class="product-selected-info-qty-container">
                                        <div class="product-selected-name-remove-container">
                                            <p class="product-selected-name">Cartera 10</p>
                                            <button class="product-selected-remove-btn">Remover</button>
                                        </div>
                                        <p class="product-selected-color-size">Beige / M</p>
                                        <div class="product-selected-quantity-container">
                                            <p>Cant.</p>
                                            <div class="current-quantity-container">
                                                <p class="current-quantity">1</p>
                                                <i class='bx bx-plus add-one-same-product'></i>
                                            </div>
                                            <p class="total">US$ 110</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="subtotal-container">
                                    <p>Subtotal</p>
                                    <p class="subtotal">US$ 116</p>
                                </div>
                                <div class="quick-checkout-container">
                                    <button class="checkout-btn">CHECKOUT</button>
                                    <button class="view-bag-btn">VIEW BAG</button>
                                </div>

                            </div>
                        </div>

                        <main class="main">
                            <div class="product-list-intro">

                                <div class="product-title">
                                    <h2>Bags</h2>
                                </div>

                                <div class="filter-btn-container">
                                    <p class="filter-name">FILTRAR POR</p>
                                    <i class="fa-solid fa-filter"></i>
                                </div>

                            </div>
                            <section class="product-list-section">

                                <div class="product-card-container" data-productId="10">
                                    <a href="/product/10" class="product-card-link">
                                        <div class="image-container">
                                            <div class="image-carousel">

                                                <img src="/img/products/handbags/cartera1.avif" alt="product-image"
                                                    class="product-image-test product-image-test-active"
                                                    data-productId="10">
                                                <img src="/img/products/handbags/bag1.avif" alt="product-image"
                                                    class="product-image-test product-image-test-next-slide"
                                                    data-productId="10">
                                                <img src="/img/products/handbags/bag2.avif" alt="product-image"
                                                    class="product-image-test product-image-test-next-slide"
                                                    data-productId="10">
                                                <img src="/img/products/handbags/bag2.avif" alt="product-image"
                                                    class="product-image-test product-image-test-next-slide"
                                                    data-productId="10">
                                                <img src="/img/products/handbags/bag2.avif" alt="product-image"
                                                    class="product-image-test-prev-slide" data-productId="10">
                                                <!-- TODO: BUSCAR EN UTILS PORCION DE CODIGO CUANDO TRAIGAMOS DEL BACK -->
                                            </div>
                                            <!-- TODO: HACER CONTENEDOR DE DOTS ACA ABAJO -->



                                        </div>
                                        <div class="product-info-container">
                                            <div class="price-name-container">
                                                <p class="product-name">Cartera #1</p>
                                                <p class="product-price">$3000</p>
                                            </div>

                                        </div>

                                    </a>
                                    <div class="product-quick-actions-container" data-productId="10">
                                        <div class="quick-cart-container">
                                            <div class="logo-container">

                                                <i class="fa-solid fa-bag-shopping quick-add-cart-btn"></i>
                                            </div>
                                        </div>
                                        <div class="quick-fav-container">
                                            <div class="logo-container">
                                                <% if (1==1) { %> <!-- CONDICION DE SI ESTA EN BOOKMARS -->
                                                    <i class="fa-regular fa-heart favourite-logo quick-add-fav-btn"></i>

                                                    <% }else{ %>
                                                        <i class="fa-solid fa-heart favourite-logo"></i>
                                                        <% } %>
                                            </div>

                                        </div>
                                        <div class="quick-sizes-container">
                                            <!-- TODO: a estos meterle el data-value = size.id -->
                                            <p class="quick-size">XS</p>
                                            <p class="quick-size">S</p>
                                            <p class="quick-size">M</p>
                                            <p class="quick-size">L</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="product-card-container" data-productId="11">
                                    <a href="/product/10" class="product-card-link">
                                        <div class="image-container">
                                            <div class="image-carousel">
                                                <img src="/img/products/handbags/cartera1.avif" alt="product-image"
                                                    class="product-image-test product-image-test-active"
                                                    data-productId="11">
                                                <img src="/img/products/handbags/bag1.avif" alt="product-image"
                                                    class="product-image-test" data-productId="11">
                                                <img src="/img/products/handbags/bag2.avif" alt="product-image"
                                                    class="product-image-test" data-productId="11">
                                            </div>
                                        </div>
                                        <div class="product-info-container">
                                            <div class="price-name-container">
                                                <p class="product-name">Cartera #1</p>
                                                <p class="product-price">$3000</p>
                                            </div>
                                        </div>
                                    </a>
                                    <div class="product-quick-actions-container" data-productId="11">
                                        <div class="quick-cart-container">
                                            <div class="logo-container">

                                                <i class="fa-solid fa-bag-shopping quick-add-cart-btn"></i>
                                            </div>
                                        </div>
                                        <div class="quick-fav-container">
                                            <div class="logo-container">
                                                <% if (1==1) { %> <!-- CONDICION DE SI ESTA EN BOOKMARS -->
                                                    <i class="fa-regular fa-heart favourite-logo quick-add-fav-btn"></i>

                                                    <% }else{ %>
                                                        <i class="fa-solid fa-heart favourite-logo"></i>
                                                        <% } %>
                                            </div>

                                        </div>
                                        <div class="quick-sizes-container">
                                            <!-- TODO: a estos meterle el data-value = size.id -->
                                            <p class="quick-size">XS</p>
                                            <p class="quick-size">S</p>
                                            <p class="quick-size">M</p>
                                            <p class="quick-size">L</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="product-card-container" data-productId="12">
                                    <a href="/product/10" class="product-card-link">
                                        <div class="image-container">
                                            <div class="image-carousel">
                                                <img src="/img/products/handbags/cartera1.avif" alt="product-image"
                                                    class="product-image-test product-image-test-active"
                                                    data-productId="12">
                                                <img src="/img/products/handbags/bag1.avif" alt="product-image"
                                                    class="product-image-test" data-productId="12">
                                                <img src="/img/products/handbags/bag2.avif" alt="product-image"
                                                    class="product-image-test" data-productId="12">
                                            </div>

                                        </div>
                                        <div class="product-info-container">
                                            <div class="price-name-container">
                                                <p class="product-name">Cartera #1</p>
                                                <p class="product-price">$3000</p>
                                            </div>

                                        </div>

                                    </a>
                                    <div class="product-quick-actions-container" data-productId="12">
                                        <div class="quick-cart-container">
                                            <div class="logo-container">

                                                <i class="fa-solid fa-bag-shopping quick-add-cart-btn"></i>
                                            </div>
                                        </div>
                                        <div class="quick-fav-container">
                                            <div class="logo-container">
                                                <% if (1==1) { %> <!-- CONDICION DE SI ESTA EN BOOKMARS -->
                                                    <i class="fa-regular fa-heart favourite-logo quick-add-fav-btn"></i>

                                                    <% }else{ %>
                                                        <i class="fa-solid fa-heart favourite-logo"></i>
                                                        <% } %>
                                            </div>

                                        </div>
                                        <div class="quick-sizes-container">
                                            <!-- TODO: a estos meterle el data-value = size.id -->
                                            <p class="quick-size">XS</p>
                                            <p class="quick-size">S</p>
                                            <p class="quick-size">M</p>
                                            <p class="quick-size">L</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="product-card-container" data-productId="13">
                                    <a href="/product/10" class="product-card-link">
                                        <div class="image-container">
                                            <div class="image-carousel">
                                                <img src="/img/products/handbags/cartera1.avif" alt="product-image"
                                                    class="product-image-test product-image-test-active"
                                                    data-productId="13">
                                                <img src="/img/products/handbags/bag1.avif" alt="product-image"
                                                    class="product-image-test" data-productId="13">
                                                <img src="/img/products/handbags/bag2.avif" alt="product-image"
                                                    class="product-image-test" data-productId="13">
                                            </div>

                                        </div>
                                        <div class="product-info-container">
                                            <div class="price-name-container">
                                                <p class="product-name">Cartera #1</p>
                                                <p class="product-price">$3000</p>
                                            </div>

                                        </div>

                                    </a>
                                    <div class="product-quick-actions-container" data-productId="13">
                                        <div class="quick-cart-container">
                                            <div class="logo-container">

                                                <i class="fa-solid fa-bag-shopping quick-add-cart-btn"></i>
                                            </div>
                                        </div>
                                        <div class="quick-fav-container">
                                            <div class="logo-container">
                                                <% if (1==1) { %> <!-- CONDICION DE SI ESTA EN BOOKMARS -->
                                                    <i class="fa-regular fa-heart favourite-logo quick-add-fav-btn"></i>

                                                    <% }else{ %>
                                                        <i class="fa-solid fa-heart favourite-logo"></i>
                                                        <% } %>
                                            </div>

                                        </div>
                                        <div class="quick-sizes-container">
                                            <!-- TODO: a estos meterle el data-value = size.id -->
                                            <p class="quick-size">XS</p>
                                            <p class="quick-size">S</p>
                                            <p class="quick-size">M</p>
                                            <p class="quick-size">L</p>
                                        </div>
                                    </div>
                                </div>

                            </section>
                        </main>






</body>

</html>