<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs') %>
        <script src="/scripts/productList.js"></script>
        <link rel="stylesheet" href="/css/productList.css">
        <title>Cartera - Lista</title>
</head>

<body>
    <%- include('./partials/wpp.ejs') %>
        <%- include('./partials/blackScreen.ejs') %>
            <%- include('./partials/login.ejs') %>
                <%- include('./partials/header.ejs') %>
                    <%- include('./partials/registrationForm.ejs') %>
                        <section class="filter-section">
                            <p class="page-detail">All handbags</p>
                            <div class="filter-container">
                                <p class="filter-name">Filters</p>
                                <p class="filter-amount">(2)</p>
                                <i class="fa-solid fa-filter"></i>
                            </div>
                        </section>
                        <section class="product-list-section">

                            <div class="product-card-container">


                                <a href="/product/10" class="product-card-link">
                                    <div class="image-container">
                                        <div class="image-carousel" data-productId="10">
                                            
                                            <img src="/img/products/handbags/cartera1.avif" alt="product-image"
                                                class="product-image-test product-image-test-active"
                                                data-productId="10">
                                            <img src="/img/products/handbags/bag1.avif" alt="product-image"
                                                class="product-image-test product-image-test-next-slide" data-productId="10">
                                            <img src="/img/products/handbags/bag2.avif" alt="product-image"
                                                class="product-image-test product-image-test-next-slide" data-productId="10">
                                            <img src="/img/products/handbags/bag2.avif" alt="product-image"
                                                class="product-image-test product-image-test-next-slide" data-productId="10">
                                            <img src="/img/products/handbags/bag2.avif" alt="product-image"
                                                class="product-image-test-prev-slide" data-productId="10"> 
                                                <!-- TODO: BUSCAR EN UTILS PORCION DE CODIGO CUANDO TRAIGAMOS DEL BACK -->
                                        </div>
                                        <!-- TODO: HACER CONTENEDOR DE DOTS ACA ABAJO -->

                                        

                                    </div>
                                    <div class="product-info-container">
                                        <div class="price-name-container">
                                            <p class="product-name">Cartera #1</p>
                                            <p class="product-price">$3000</p>
                                        </div>

                                    </div>

                                </a>
                                <div class="product-dots-container" data-productId="10">

                                    <div class="product-carousel-dot product-carousel-dot-active"></div>
                                    <div class="product-carousel-dot"></div>
                                    <div class="product-carousel-dot"></div>
                                </div>

                               

                            </div>

                            <div class="product-card-container">


                                <a href="/product/10" class="product-card-link">
                                    <div class="image-container">
                                        <div class="image-carousel" data-productId="11">
                                            <img src="/img/products/handbags/cartera1.avif" alt="product-image"
                                                class="product-image-test product-image-test-active"
                                                data-productId="11">
                                            <img src="/img/products/handbags/bag1.avif" alt="product-image"
                                                class="product-image-test" data-productId="11">
                                            <img src="/img/products/handbags/bag2.avif" alt="product-image"
                                                class="product-image-test" data-productId="11">
                                        </div>

                                        

                                    </div>
                                    <div class="product-info-container">
                                        <div class="price-name-container">
                                            <p class="product-name">Cartera #1</p>
                                            <p class="product-price">$3000</p>
                                        </div>

                                    </div>

                                </a>
                                <div class="product-dots-container" data-productId="11">
                                    <div class="product-carousel-dot product-carousel-dot-active"></div>
                                    <div class="product-carousel-dot"></div>
                                    <div class="product-carousel-dot"></div>
                                </div>
                               

                            </div>

                            <div class="product-card-container">


                                <a href="/product/10" class="product-card-link">
                                    <div class="image-container">
                                        <div class="image-carousel" data-productId="12">
                                            <img src="/img/products/handbags/cartera1.avif" alt="product-image"
                                                class="product-image-test product-image-test-active"
                                                data-productId="12">
                                            <img src="/img/products/handbags/bag1.avif" alt="product-image"
                                                class="product-image-test" data-productId="12">
                                            <img src="/img/products/handbags/bag2.avif" alt="product-image"
                                                class="product-image-test" data-productId="12">
                                        </div>

                                    </div>
                                    <div class="product-info-container">
                                        <div class="price-name-container">
                                            <p class="product-name">Cartera #1</p>
                                            <p class="product-price">$3000</p>
                                        </div>

                                    </div>

                                </a>
                                <div class="product-dots-container" data-productId="11">
                                    <div class="product-carousel-dot product-carousel-dot-active"></div>
                                    <div class="product-carousel-dot"></div>
                                    <div class="product-carousel-dot"></div>
                                </div>
                                
                            </div>

                            <div class="product-card-container">


                                <a href="/product/10" class="product-card-link">
                                    <div class="image-container">
                                        <div class="image-carousel" data-productId="13">
                                            <img src="/img/products/handbags/cartera1.avif" alt="product-image"
                                                class="product-image-test product-image-test-active"
                                                data-productId="13">
                                            <img src="/img/products/handbags/bag1.avif" alt="product-image"
                                                class="product-image-test" data-productId="13">
                                            <img src="/img/products/handbags/bag2.avif" alt="product-image"
                                                class="product-image-test" data-productId="13">
                                        </div>

                                    </div>
                                    <div class="product-info-container">
                                        <div class="price-name-container">
                                            <p class="product-name">Cartera #1</p>
                                            <p class="product-price">$3000</p>
                                        </div>

                                    </div>

                                </a>
                                <div class="product-dots-container" data-productId="11">
                                    <div class="product-carousel-dot product-carousel-dot-active"></div>
                                    <div class="product-carousel-dot"></div>
                                    <div class="product-carousel-dot"></div>
                                </div>
                               

                            </div>

                        </section>

</body>

</html>